<!DOCTYPE html>
<html>
<head>
	<title>My WebHook - Nahum Fabian</title>
</head>
<body>

<h3>This are my secrets from A/A Challenge</h3>

<div>
	<span>Name: Nahum Fabian Huezo</span>
	<span>Email: nahum_fabian13@hotmail.com</span>
</div>

<br /><br /><br />

<table>
	<thead>
		<td>Secret</td>
	</thead>
	<% for(var i=0; i< data.length; i++){ %>
		<tr>
			<td>data[i].secret_phrase</td>
		</tr>
	<% } %>
</table>
</body>
</html>
