<!DOCTYPE html>
<html>
<head>
	<title>My WebHook - Nahum Fabian</title>
</head>
<body>

<h3>This is my webhook</h3>

<ul>
	<% for(var i=0; i< data.length; i++){ %>
		<li> <b>THE SECRET: </b>  data[i].secret </li>
		<li> <b>My Name: </b> data[i].name </li> 
		<li> <b>Profession: </b> data[i].role </li>
		<li> <b>My LinkedIn profile: </b> data[i].linkedin </li>
		<li> <b>My Git profile: </b> data[i].git </li>
	<% } %>
</ul>
</body>
</html>